body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #b2e0ff;
    background-size: cover;
 }

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #069bff;
    text-align: center;
    padding-top: 200px;
}
  

button{
    color:#ffffff;
    background: #069bff;
    font-weight: bold;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}   